<div class="main-section">
<div class="beer-img">
    {{!-- <img src="public/images/beer.png" alt="beer"> --}}
    <img src="/images/beer.png" alt="beer">
</div>
<div class="main-buttons">
    <a href="/beers"> Check the beers </a>
    <a href="random-beer"> Check a random Beer </a>
</div>
</div>